<html>
  <head></head>
  <body>
    <form id='add' method='post' action='/add'>
      <input type='text' id='title' name='title' />
      <input type='text' id='author' name='author' />
      <button id='add'>Add</button>
    </form>
  </body>
</html>
