<html>
  <head></head>
  <body>
    <form id='book' method='post'>
      <input type='text' id='query' name='title' />
      <input type='text' id='author' name='author' />

      <button id='search'>Search</button>

    </form>
  </body>
</html>
