<html>
  <head></head>
  <body>
    <div class='results'>
      <% books.each do |book| %>
        <div class='result'><img src=<%= book.image %>></img><%= book.title %></div>
      <% end %>
    </div>
  </body>
</html>
